* {
  margin: 0;
  padding: 0;
}

.container{
	height:100vh;
	width:100%;

}
.header{
	width:100%;
	height:100px;
  padding-bottom: 20px;

}

.header h1{
    padding-top: 25px;
     text-align: center;
     font-size: 50px;

}

.body{
  display: grid;
	height: 100%;
	width:100%;
  grid-template-columns: auto;
	grid-template-areas:
	"main";

}

.body .main{
	grid-area: main;
  text-align: center;

}

img {
   padding: 5px;
    width: 500px;
}


.body .content {
  grid-area: content;
}

#btnplay{
  background-color: #28a745;
  padding: 20px 100px 20px;
  border-color:  white;
  border-radius: 5px;
  margin-left: 30%;


}

#btnplay h2 {
  text-align: center;
}

p {
  text-align: center;
  padding-right: 15%;
  padding-top: 10%;
  color: lightgray;
}
